* {
    text-align: center;
    background-color: rgb(43, 43, 43);
    padding: 5px;
}

div {
    margin: 20px;
}

button {
    outline-width: 2px;
    cursor: pointer;
}

.stageOne {
    outline: green;
}

.stageTwo {
    outline: greenyellow;
}