* {
    text-align: center;
    background-color: rgb(43, 43, 43);
    padding: 5px;
    color: rgb(194, 194, 194);
}

div {
    margin: 20px;
}

button {
    outline-width: 20px;
    cursor: pointer;
}

.stageOne {
    background-color: green;
    cursor: pointer;
}

.stageTwo {
    background-color: greenyellow;
    cursor: not-allowed;
}

.stageThree {
    background-color: rgb(255, 251, 0);
    cursor: not-allowed;
}

.stageFour {
    background-color: rgb(255, 128, 24);
    cursor: not-allowed;
}

.stageFive {
    background-color: rgb(253, 4, 4);
    cursor: not-allowed;
}