* {
    text-align: center;
    background-color: rgb(43, 43, 43);
    padding: 5px;
}

div {
    margin: 20px;
}

button {
    outline-width: 20px;
    cursor: pointer;
}

.stageOne {
    outline-color: green;
}

.stageTwo {
    outline-color: greenyellow;
    cursor: not-allowed;
}

.stageThree {
    outline-color: rgb(255, 251, 0);
    cursor: not-allowed;
}

.stageFour {
    outline-color: rgb(255, 128, 24);
    cursor: not-allowed;
}

.stageFive {
    outline-color: rgb(253, 4, 4);
    cursor: not-allowed;
}